@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global customizations */
@layer base {
  body {
    @apply font-mono bg-bg text-white;
    -webkit-font-smoothing: antialiased;
  }
  
  ::selection {
    @apply bg-accent text-black;
  }
  
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-bg;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-border2 rounded;
  }
}